.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/

# Ignore spm package directories
.swiftpm
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

.netrc
.vscode

# Ignore local storage
reviewed.json
